# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# At the moment, I, @flyingrobots, am the only code owner, but we lay out
# each package explicitly so future contributors can slot in easily.

# Contact Info:
# James Ross <james@flyingrobots.dev> (https://github.com/flyingrobots)

# Default owner covers everything else
* @flyingrobots

# Assurance tooling
/packages/wesley-holmes/ @flyingrobots
